*{
    margin: 0;
    padding: 0;
    color: rgb(199, 6, 199);
    /* padding: 1px; */
}
.body{
    width: 100vw;
    height: 100vh;
}
.portfolio{
    height: 100%;
    width: 100%;
 

}
.voilate{
    color: rgb(199, 6, 199);
    font-size: 1.2rem;
    font-weight:450;
}
.navbar{
    background-color: rgb(0, 7, 63);
    /* width: 90%; */
    width: 100vw;
    position: fixed;
}
main{

    /* height: 100vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00002b;
}
.home{
    margin-top: 130px;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler-icon {
    color: rgb(134, 3, 134);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(212, 2, 212, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.ticon{
    color: rgb(134, 3, 134);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(212, 2, 212, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    
}
.world{
    margin: 30px;
    margin-top: 50px;
}
img{
    margin-left: 100px;
}
#element{
    display: flex;
    justify-content:center;
    font-style: italic;
    font-size: 2rem;
    margin-top: 80px;
    

}
li{
    margin: 10px;
}


.video{
    margin-top: 20px;
    /* height: 300px;
    width: 500px; */
    display: flex;
    margin-left: -30px;
    justify-content: center;
    align-items: center;
}
.video img{

    height: 300px;
    /* margin-top: ; */
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.content {
    position: relative;
    z-index: 1; /* Ensure content stays above the video */
    color: rgb(156, 150, 150);
    text-align: center;
    padding-top: 20%;
}


.about{
    background-color: rgb(6, 3, 46);
    padding-bottom: 50px;
}
.about .p h1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.about .p p{
    color: aliceblue;
    font-size: 20px;
    padding-top: 30px;
}
.contact{
    background-color: rgb(2, 2, 52);
    border: 1px solid rgb(1, 0, 14,0.5);
    margin-top: -20px;
    padding-top: 70px;
}

.contact .contact-info p{
    display: flex;
    justify-content: center;
    color: aliceblue;
}

/* Contact */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-left p i {
    color: #870bcf;
    /* margin-right: 15px; */
    /* margin-left: -23rem; */
    align-items: start;
    font-size: 30px;
    /* margin-right: 15px; */
    transition: transform (0.5s);
}
.contact-left p i:hover{
    color: #b00f42;
   /* margin-left: 60px; */
    transform: translateY(-5px)
}
.mail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.social-icons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin: 15px;
    columns: #ababab;
    display: inline-block;
    transition: transform (0.5s);
    /* display: flex; */
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px)
}

.copyright{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 25px;
    color: #010125;
    background: #03023a;
    font-weight: 300;
    /* margin-top: 20px; */
    border: #010125;
    text-decoration: none;
    color: #dc356a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
}
.copyright p{
    color:#09001d;
    text-decoration: none;
    text-decoration: none;
}
.copyright p:hover{
    color:#ad0339;
    text-decoration: none;
}
